body {
  font-family: "Poppins", sans-serif;
  background-color: #e8e3da;
}
/*Homepage*/
.menu-links {
  padding: 5px 40px 5px 40px;
  font-size: 20px;
}
.lbd-homepage {
  font-size: 28px;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-size: 100px;
  text-align: center;
  color: #282424;
  padding-top: 170px;
}

header h2 {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  text-align: center;
  line-height: 1.5;
  margin-top: 20px;
}

header .subheadings {
  margin-bottom: 40px;
}
.homepage-icons {
  padding-right: 10px;
}
.container-bg-homepage {
  background-image: url(/images/pexels-marina-leonova-7717490.jpg);
  max-width: 100%;
  height: 837px;
}
.container-bg-homepage button {
  background-color: #e8e3da;
  border: 1px #282424 solid;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  position: relative;
  top: 200px;
  padding: 20px 30px;
  transition: all 200ms ease-in-out;
}
.container-bg-homepage button:hover {
  background-color: #282424;
}
.portfolio-link-homepage {
  margin-top: 20px;
  color: #282424;
  text-decoration: none;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  transition: all 150ms ease-in-out;
}
.portfolio-link-homepage:hover {
  color: #e8e3da;
}

footer {
  text-align: center;
  padding: 10px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*About me page*/

.headings {
  font-size: 110px;
  font-weight: lighter;
  text-align: start;
  margin: -50px 100px 0px 100px;
  border-bottom: 0.5px solid grey;
  padding-bottom: 50px;
  font-family: "Playfair Display", serif;
  color: #282424;
  padding-top: 170px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: 100px 450px 55px 450px;
}
.my-headshot {
  width: 600px;
  border-radius: 25% 10%;
  opacity: 0.9;
}

.introduction {
  font-size: 50px;
  font-family: "Playfair Display", serif;
}
.about-me-description {
  font-size: 20px;
  max-width: 650px;
}

.tools {
  max-width: 1100px;
  display: block;
  margin: 25px auto;
  padding: 20px;
  border: #282424 1px solid;
  text-align: center;
  border-radius: 20px;
}

.technologies {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
}

/*Portfolio page*/

.projects-container {
  margin-top: 100px;
}

.app-img {
  border-radius: 20px;
  border: 1px solid black;
  opacity: 0.9;
}

.projects-name {
  font-family: "Playfair Display", serif;
  font-size: 40px;
}

.launch-app-button {
  background-color: #282424;
  padding: 10px 15px;
  font-family: "Playfair Display", serif;
  transition: all 200ms ease-in-out;
}

.launch-app-button:hover {
  background-color: #e8e3da;
}
.button-link {
  color: #e8e3da;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.button-link:hover {
  color: #282424;
}
/*Contact page*/

.email-link {
  display: block;
  margin: 250px auto;
  text-align: center;
  font-size: 86px;
  font-family: "Playfair Display", serif;
  color: #282424;
  text-decoration: none;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 38px;
  font-family: "Playfair Display", serif;
  margin-top: -200px;
  font-style: italic;
}

.link-decoration {
  text-decoration: none;
  color: #282424;
  font-style: normal;
}

.link-decoration:hover {
  text-decoration: underline;
}

@media (max-width: 1700px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin: 20px;
  }

  .box {
    display: block;
    margin: 0 auto;
  }

  .my-headshot {
    max-width: 500px;
    margin-top: 50px;
  }
}

@media (max-width: 1100px) {
  header h1 {
    text-align: center;
    font-size: 70px;
  }

  .lbd-homepage {
    font-size: 15px;
  }
  .navbar-toggler-icon {
    font-size: 10px;
  }
  .nav-link {
    font-size: 12px;
  }
  header h2 {
    font-size: 20px;
    line-height: 0;
  }

  footer {
    font-size: 13px;
  }
  .headings {
    font-size: 80px;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 20px;
  }
  .box {
    display: block;
    margin: 0 auto;
  }
  .my-headshot {
    max-width: 350px;
    display: block;
    margin: 40px auto;
  }
  .introduction {
    font-size: 35px;
  }
  .about-me-description {
    font-size: 19px;
  }
  .tools {
    max-width: 700px;
    margin: 20px auto;
  }

  .app-img {
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }
  .projects-name {
    font-size: 30px;
    text-align: center;
  }

  .projects-description {
    font-size: 14px;
    text-align: center;
    max-width: 450px;
  }
  .launch-app-button {
    margin: 0 auto;
    display: block;
  }

  .email-link {
    font-size: 55px;
    margin-top: 150px;
  }

  .social-links {
    font-size: 25px;
    margin-top: -230px;
  }
}

@media (max-width: 900px) {
  .app-img {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .app-img {
    display: none;
  }
  .projects-container {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .headings {
    font-size: 40px;
    text-align: left;
  }

  .row-container {
    margin-left: 50px;
  }
  .about-me-description {
    font-size: 15px;
    text-align: center;
  }

  .projects-container {
    margin-top: -90px;
  }

  .second-row {
    margin-top: -90px;
  }
  .email-link {
    font-size: 30px;
    margin-top: 60px;
  }
  .social-links {
    font-size: 15px;
  }
}
