body {
  font-family: "Poppins", sans-serif;
  background-color: #e8e3da;
}

.menu-links {
  padding: 5px 40px 5px 40px;
  font-size: 20px;
}
.lbd-homepage {
  font-size: 28px;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-size: 100px;
  text-align: center;
  color: #282424;
  padding-top: 170px;
}

header h2 {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  text-align: center;
  line-height: 1.5;
  margin-top: 20px;
}

.subheadings {
  margin-bottom: 40px;
}
.portfolio-link-homepage {
  margin-top: 20px;
  color: #282424;
  text-decoration: none;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  transition: all 150ms ease-in-out;
}
.portfolio-link-homepage:hover {
  color: #e8e3da;
}

.container-bg-homepage button {
  background-color: #e8e3da;
  border: 1px #282424 solid;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  position: relative;
  top: 200px;
  padding: 20px 30px;
  transition: all 200ms ease-in-out;
}
.container-bg-homepage button:hover {
  background-color: #282424;
}
.container-bg-homepage {
  background-image: url(/images/pexels-marina-leonova-7717490.jpg);
  max-width: 100%;
  height: 850px;
}

footer {
  text-align: center;
  padding: 10px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.homepage-icons {
  padding-right: 10px;
}

.who-i-am {
  font-size: 110px;
  font-weight: lighter;
  text-align: start;
  margin: -50px 100px 0px 100px;
  border-bottom: 0.5px solid grey;
  padding-bottom: 50px;
  font-family: "Playfair Display", serif;
  color: #282424;
  padding-top: 170px;
}

.my-headshot {
  width: 500px;
  border-radius: 25% 10%;
  margin: 80px 0px 0px 100px;
  opacity: 0.9;
}

.introduction {
  font-size: 50px;
  font-family: "Playfair Display", serif;
}
.about-me-description {
  margin-top: 70px;
  font-size: 20px;
}

.tools {
  max-width: 1100px;
  display: block;
  margin: 25px auto;
  padding: 20px;
  border: #282424 1px solid;
  text-align: center;
  border-radius: 20px;
}

.technologies {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
}

.projects-container {
  margin-top: 100px;
}

.app-img {
  border-radius: 20px;
  border: 1px solid black;
  opacity: 0.9;
}

.projects-name {
  font-family: "Playfair Display", serif;
  font-size: 40px;
}

.launch-app-button {
  background-color: #282424;
  padding: 10px 15px;
  color: #e8e3da;
  font-family: "Playfair Display", serif;
}

.email-link {
  display: block;
  margin: 250px auto;
  text-align: center;
  font-size: 86px;
  font-family: "Playfair Display", serif;
  color: #282424;
  text-decoration: none;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 38px;
  font-family: "Playfair Display", serif;
  margin-top: -200px;
  font-style: italic;
}

.link-decoration {
  text-decoration: none;
  color: #282424;
  font-style: normal;
}

.link-decoration:hover {
  text-decoration: underline;
}

@media (max-width: 1700px) {
  h1 {
    text-align: center;
    font-size: 80px;
  }
  .rattan {
    max-width: 100%;
  }
}

@media (max-width: 1400px) {
  .my-headshot {
    max-width: 350px;
    transform: rotate(0);
    margin-top: 80px;
    margin-left: 45px;
  }
  .email-link {
    font-size: 70px;
    margin-top: 250px;
  }

  .social-links {
    font-size: 45px;
    margin-top: -230px;
  }
}

@media (max-width: 1000px) {
  h1 {
    text-align: center;
    font-size: 35px;
  }
  .rattan {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .lbd-homepage {
    font-size: 15px;
  }
  .navbar-toggler-icon {
    font-size: 10px;
  }
  .nav-link {
    font-size: 12px;
  }
  h2 {
    font-size: 13px;
    line-height: 0;
  }
  .rattan {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  footer {
    font-size: 12px;
  }
  .contact-button {
    padding: 10px 20px;
    margin-bottom: 0;
  }
  .portfolio-link-homepage {
    font-size: 15px;
  }
  .who-i-am {
    font-size: 40px;
    text-align: center;
    margin-left: -50px;
  }
  .app-img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }

  .introduction {
    font-size: 35px;
  }
  .about-me-description {
    font-size: 17px;
  }
  .email-link {
    font-size: 30px;
    margin-top: 100px;
  }

  .social-links {
    font-size: 17px;
    margin-top: -230px;
  }
}
@media (max-width: 768px) {
  .app-img {
    display: none;
  }
  .projects-container {
    margin-top: 0;
  }
}
